h2 {
    color: blue;
}

.boxmodel {
    border: 5px solid midnightblue;
    display: inline-block;
    padding: 5px 20px; /*space inside border, top&bottom - right&left*/
    margin: 0px 20px 5px 20px; /* space outside the border, top-right-bottom-left*/
    width: 20px; /*width of the content in boxmodel */
    height: 20px;
}

p {
    font-size: 20px;
}

span{
    /* font-size: 5em; means 5 times the size of inline element, so 5*20px */
    /* font-size: 125%; means relative to the parent element */
    /* VW: Relative to the viewport’s width */
    /* VH: Relative to the viewport’s height */
    /* Unlike px, relative units like %, EM and REM are better suited for responsive design and 
    help meet accessibility standards */
    font-size: 2rem; /* 2 rem means 2 times the size of root element - not dependent on p font-size*/
}